body {
    background-image: url("/images/inquilab-cropped-scaled.-v2.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top 100px center;
}

div.section p {
    text-align: justify !important;
    hyphens: auto;
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
}

div.section h2 {
    font-family: 'EB Garamond', serif;
    color: red;
}

div.section h4 {
    font-family: 'EB Garamond', serif;
}

div.section h5 {
    font-family: 'EB Garamond', serif;
}

div.section h6 {
    font-family: 'EB Garamond', serif;
}


a.navbar-item {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
}
